## .NET
bin/
obj/
*.user

## Visual Studio
.vs/
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
artifacts/

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## OS files
.DS_Store
Thumbs.db
